.welcome-section {
    height: 552px;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 50px;
    color: #FFF;
    display: flex;
    align-items: center;
}

.welcome-header {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.text-light {
    color: #fff;
}

.header-lg {
    font-weight: 300;
    font-size: 58px;
    letter-spacing: -1px;
    color: #333;
    line-height: 1.2;
}

.header-sm {
    font-weight: 300;
    font-size: 35px;
    letter-spacing: -.4px;
    color: #333;
    line-height: 1.2;
}

.welcome-actions {
    margin-top: 50px;
}

.welcome-action {
    display: inline-block;
    border: 1px solid #fff;
    padding: 15px 40px;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 15px;
    font-size: 20px;
}

.welcome-action:focus,
.welcome-action:active {
    outline: none;
}

.welcome-action:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .header-lg {
        font-size: 32px;
    }
    .header-sm {
        font-size: 18px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .welcome-action {
        width: 100%;
        margin-bottom: 15px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
